// this is where images are saved to
String basepath = "";
String sizePref = "size=1296x972";

public void settings()
{
    try
    {        
        // get captures dynamically
        captures = getCaptures();
    }
    catch (Exception e)
    {
        e.printStackTrace();
        printArray(Capture.list());
        println("** No camera found . . . exiting. **");
        exit();
    }
    size(1280, 720);
}
